<section class="hero-section">
  <div #heading class="hero-title">
    <h1>Hi, I'm</h1>
  </div>
  <div #container class="hero-subtitle">
    <p>
      <ng-container *ngFor="let word of words">
        <span class="text-reveal">
          {{ word }}
        </span>
      </ng-container>
    </p>
  </div>
</section>
<!--When I’m not coding, you might
    find me immersed in a canvas, painting stories in color — a creative outlet
    that keeps my mind balanced and inspired. I'm always up for solving complex
    problems, collaborating on exciting ideas, and turning imagination into
    reality through code.  -->
