<app-cosmos></app-cosmos>
<!-- app-layout.component.html -->
<div *ngIf="showHomeIcon" class="home-icon" (click)="navigateHome()">
  <i class="fa-brands fa-space-awesome"></i>&nbsp;&nbsp;HOME
</div>
<div class="page-content" #pageContent>
  <div #heading class="hero-title">
    <h1>Hi, I'm Muskan</h1>
  </div>
  <!-- <div #box class="hero-subtitle">
    <p>
      <ng-container *ngFor="let word of words">
        <span class="text-reveal">
          {{ word }}
        </span>
      </ng-container>
    </p>
    
  </div> -->
  <div #container class="typewriter-container"></div>
</div>
