.cosmos-gradient-wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: radial-gradient(
    circle,
    #0f3460,
    #182d53,
    #1c2646,
    #1c203a,
    #1a1a2e
  );
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

.cosmos-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.star {
  width: 2px;
  height: 2px;
  background: white;
  box-shadow: 0 0 4px #cfffe2, 0 0 10px #cfffe2;
  filter: blur(0.5px);
  mix-blend-mode: screen;
  position: absolute;
  /* transform: translate(-50%, -50%); */
  /* transform-style: preserve-3d; */
  /* transform: translateZ(-500px); */
}
.planet-label {
  position: absolute;
  color: white;
  /* background: rgba(0, 0, 0, 0.7); */
  /* border: 2px solid white; */
  font-family: "Alumni Sans SC", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 42px;
  padding: 6px 12px;
  border-radius: 4px;
  pointer-events: auto;
  cursor: pointer;
  /* transform-origin: center; */
  /* text-align: center; */
  white-space: nowrap;
}

.planet-label::after {
  content: "";
  position: absolute;
  background-color: #ffffff50;
  width: 12px;
  height: 3px;
  left: -2px;
  bottom: 3px;
  height: 2px;
  /* width: 100%; */
  border-top: 2px solid rgba(var(--white));
  transform: rotate(320deg);
}
.planet-label::before {
  content: "";
  position: absolute;
  background-color: #ffffff50;
  width: 54px;
  height: 3px;
  left: 8px;
  bottom: 6px;
  height: 2px;
  width: 85%;
  border-bottom: 2px solid rgba(var(--white));
}

.hero {
  color: #fff;
  padding: 10px 20px;
  font-family: "Special Gothic Expanded One", sans-serif;
  font-size: 70px;
  margin: 2px auto;
  /* text-align: center; */
  text-shadow: 0 0 30px rgb(0, 0, 0) !important;
  letter-spacing: 2px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}
.contact {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 8px 12px;
  font-size: 40px;
  border-top: 2px solid rgba(255, 255, 255, 0.1);
  text-shadow: 0 0 30px rgb(0, 0, 0) !important;

  text-align: center;
  width: 100%;
  font-family: "Special Gothic Expanded One", sans-serif;
  color: #fff;
}
.social-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}
